<h1 style='text-align: center;'>Purchase Summary</h1>
<div class="container">
    {{#if ticket.amount }}
    <p>Total Amount to pay : $ {{ticket.amount}}</p>
    <a href="/cart/{{cart.id}}/payment/{{ticket._id}}"><button class="goPayment">Go To Payment</button></a>
    {{else}}
    <p><strong>No products to purchase.</strong></p>
    {{/if}}
    {{#if cart.products.length }}
    <h3>Unavailable products: </h3>
    <ul>
    {{#each cart.products}}
        <li>{{this.product.title}} - {{this.quantity}} un.</li>
    {{/each}}
    </ul>
    {{/if}}
    <a href='/products'><button class="goBack">Cancel purchase</button></a>
</div>