<div class="container"> 
<h1>Payment</h1>
<p>Welcome, {{user.first_name}} </p>
<p>You´re gonna to pay $ {{ticket.amount}}</p>
<p>Please select payment method: </p>
<form action="/api/payments/{{ticket.id}}" method="POST">
<script 
            src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{ stripePublishableKey }}"
            data-amount={{amount}}
            data-currency='USD'
            data-name='TICKET'
            data-description="Use '4242 4242 4242 4242' for card #"
            data-locale="auto">
          </script>
        </form><br>
    <a href='/products'><button class="goBack">Cancel purchase</button></a>

</div>    