<div class="container">
    <h4>User: <span>{{first_name}} {{last_name}}</span> - Rol: <span>{{role}}</span></h4>
    <button id='logoutBtn' type='button' class="my-button">Log Out</button>
  </div>
    <div class="products">
        <h1>Products</h1>
    <button class="goCart"><a href="/cart/{{cartId}}/"><img src="/img/Shopping-Cart.png" class="cart-icon"></a></button>
    </div>
<div class="product-list">
     {{#each products.docs}}
<div class="product-card">
        <div class="product-title">{{this.title}}</div>
        <div class="product-description">{{this.description}}</div>
        <div class="product-price">$ {{this.price}}</div>
        <button class="addToCart"><a href="/{{../cartId}}/add/{{this._id}}"> Add To Cart </a></button>
    </div>
        {{/each}}
</div>
<div style="text-align: center; margin-top:10px">
    {{#if products.hasPrevPage}}
    <button><a href="{{products.prevLink}}"><img src="/img/left-arrow.png" class="arrow"></a></button>
    {{/if}}
    {{#if products.hasNextPage}}
    <button><a href="{{products.nextLink}}"><img src="/img/right-arrow.png" class="arrow"></a></button>
    {{/if}}
</div>

{{!--     </div>
    <div>
    <table>
    <tr>
        <td> Title </td>
        <td> Price </td>
        <td> Code </td>
        <td> Stock</td>
        <td> Category</td>
        <td>  Cart </td>
        {{#if (isAdmin role)}}<td>Actions</td>{{/if}}
    </tr>
    {{#each products.docs}}
    {{#if this.status}}
    <tr class="product">
        <td class="title">{{this.title}} </td>
        <td>  $ {{this.price}}   </td>
        <td>  {{this.code}}   </td>
        <td> {{this.stock}} </td>
        <td> {{this.category}} </td>
        <td> <button><a href="/{{../cartId}}/add/{{this._id}}"> Add To Cart </a></button> </td>
    </tr>
    {{else}}
        <tr class="product">
            <td class="title">{{this.title}} </td>
            <td>$ {{this.price}}  </td>
            <td>  {{this.stock}} </td>
            <td colspan="4">This product is out of inventory </td>
        </tr>
    {{/if}}
{{/each}}
</table>
</div>
<div style="text-align: center; margin-top:10px">
    {{#if products.hasPrevPage}}
    <button><a href="{{products.prevLink}}"> Pagina Previa</a></button>
    {{/if}}
    {{#if products.hasNextPage}}
    <button><a href="{{products.nextLink}}"> Pagina Siguiente</a></button>
    {{/if}}
</div> --}}
  <script src="js/logout.js"></script>